* {
margin: 0;
padding: 0;
box-sizing: border-box;
// font-family: 'Lato', sans-serif;
font-family: 'Surt', sans-serif;
}


li {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: $text-clair;
}