// Header



header {
   // position: relative;
   // border: 1px solid red;
   top: 0;
   width: 100%;
   height: 100vh;
   max-height: 100vh;
   color: $text-clair;
   .image-header {
      z-index: -1;
      position: relative;
      // top: 4rem;
      width: 100%;
      height: 100vh;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   #menu {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
   border-bottom: 1px solid $text-clair;
   display: flex;
   justify-content: center;
   font-size: 1.3rem;
   height: 4rem;
   transition: 0.4s ease-in-out;
   #logo {
      position: absolute;
      top: 1.9rem;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      font-size: 3rem;
      transition: 0.4s ease-in-out;
   }
   ul {
      position: absolute;
      width: 400px;
      top: 5.5rem;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 0.4s ease-in-out;
      li {
         margin: 0.7rem;
         text-shadow: 1px 1px 4px $text-sombre;
         transition: 0.1s ease-in-out;
         &:hover {
            transform: scale(1.1);
         }
      }
   }
   }
   .title {
      // margin-top: 220px;
      position: absolute;
      top: 22rem;
      left: 50%;
      transform: translate(-50%, -50%);
      // margin-top: 17.5rem;
      font-size: 3rem;
      text-align: center;
   }
}

#menu.scrolled {
   background-color: $bg-sombre;
   
   #logo {
         left: 1rem;
         transform: translateY(-50%);
   }
   ul {
      top: 2rem;
   }
}

// Main

// Section 1

#section-1 {
   background-color: $bg-neutre;
   @extend %flex-center;
   flex-direction: column;
   justify-content: center;
   // align-items: center;
   // padding: 6rem 0 12rem 0;
   position: relative;
   height: 100vh;
   max-width: 100%;
   overflow-x: hidden;

   h2 {
      // padding-bottom: 6rem;
      position: absolute;
      top: 10.6rem;
      color: $text-clair;
      font-size: 2.5rem;
   }

   .slider-btn {
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: none;
      outline: none;
      // color: $text-sombre;
      color: $text-clair;
      font-size: 8rem;
      cursor: pointer;
      z-index: 2;
      &:hover {
         text-shadow:
               1px 1px 2px rgba(0, 0, 0, 0.7),
               -1px -1px 2px rgba(0, 0, 0, 0.7),
               1px -1px 2px rgba(0, 0, 0, 0.7),
               -1px 1px 2px rgba(0, 0, 0, 0.7);
      }
   }
   
   #prev {
      position: absolute;
      left: 0;
      margin: 0 30px;

   }

   #next {
      position: absolute;
      right: 0;
      margin: 0 30px;
   }

   .bloc-section-1 {
      // position: relative;
      position: absolute;
      overflow-x: hidden;
      top: 50%;
      transform: translateY(-50%);
      // padding: 3rem 2rem;
      // width: 57rem;
      width: 87%;
      // max-width: 1920px;
      // height: 30rem;
      // height: 100px;
      // width: 400px;
      display: flex;
      // justify-content: flex-start;
      justify-content: space-between;
      align-items: center;
      // border-radius: 28px;
      // @extend %boxshadow;
      // overflow: hidden;
      margin: 0 30px;

      
      .bloc-card {
         @extend %flex-center;
         flex-direction: column;
         
         

         .bloc-recipe {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .card {
               position: relative;
               @extend %flex-center;
               border-radius: 12px;
               flex-direction: column;
               height: 28rem;
               width: 24rem;
               margin: 1rem;
               overflow: hidden;
               transition: 0.1s ease-in-out;
               @extend %boxshadow;
               &:hover {
                     box-shadow:  0 0 4px $bg-clair;
                  }
               

               .card-img {
                  width: 100%;
                  height: 100%;

                  img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     filter: brightness(80%);
                  }
               }

               .card-body {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  padding: 1rem;
                  // backdrop-filter: blur(1px);
                  line-height: 1;

                  p {
                     color: #fff;
                     font-weight: bold;
                     // font-size: calc(5px + 0.8vw);
                     font-size: 1.5rem;
                     text-shadow: 1px 1px 4px $text-sombre;

                  }
               }
            }
         }

         // button {
         //    margin-top: 2rem;
         //    @extend %smallbutton;
         // }
      }
   }
}

// section 2

#section-2 {
   position: relative;
   overflow: hidden;
   @extend %flex-center;
   // height: 22vw;
   height: 25rem;
   width: 100%;

   #bg-section-2 {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;

      img {
         width: 100%;
         height: 100%;
         // position: fixed;
         object-fit: cover;
         top: 0;
         z-index: -5;
         filter: brightness(0.3);
      }
   }

   .bloc-stats {
      position: absolute;
      display: flex;
      justify-content: space-around;
      // width: 75%;
      width: 77rem;
      max-width: 100%;
      color: $text-clair;
      height: 30%;

      #bloc-qty-ingredients, #bloc-qty-recipes, #bloc-qty-users {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         flex-direction: column;
         height: 100%;
      }

      .bg-qty {
         background-color: rgba(0, 0, 0, 0.6);
         width: 8rem;
         min-width: 8rem;
         min-height: 8rem;
         // padding: 3rem;
         height: 8rem;
         @extend %flex-center;
         @extend %boxshadow;

         p {
            // font-size: calc(5px + 1.2vw);
            font-size: 1.5rem;
            font-weight: bold;
         }
      }

      p {
         font-size: 1.5rem;
      }
   }
}


// section 3 - etape 1

#step-1 {
   background-color: $bg-sombre;
   padding: 6rem 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
   #bloc-step-1 {
      position: relative;
      width: 77rem;
      height: 600px;
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: flex-end;
   }

   .img-deco {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 2;
      width: 22rem;
      min-width: 22rem;
      min-height: 22rem;
      height: 22rem;
      border-radius: 50%;
      @extend %boxshadow;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .step-1 {
      // display: flex;
      // border: 1px solid blue;
      // justify-content: center;
      // align-items: center;
      width: 65%;
      
    
   }
   
   .bloc-title {
    
      @extend %flex-center;
      flex-direction: column;
      background-color: $bg-clair;
      width: 100%;
      height: 25rem;
      text-align: center;
      justify-content: space-evenly;
      border-radius: 100px;

      h2 {
         color: $text-sombre;
         font-size: 1.9rem;
         padding-top: 1rem;
      }

      button {
         @extend %largebutton;
      }
   }
}

// section 4 - étape 2 

#step-2 {
      padding: 6rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
   #bloc-step-2 {
         position: relative;
         width: 77rem;
         height: 600px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
      }

      .img-deco {
         position: absolute;
         overflow: hidden;
         top: 0;
         right: 0;
         z-index: 2;
         width: 22rem;
         min-width: 22rem;
         height: 22rem;
         min-height: 22rem;
         border-radius: 50%;
         @extend %boxshadow;
         // border: 1px solid red;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .step-2 {
      
      // display: flex;
      // position: absolute;
      // // left: 0;
      // bottom: 0;
      // flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
      width: 65%;
      // height: 100%;
      // padding: 5vw 5vw 5vw 0;

      // p {
      // color: $text-clair;
      //    font-size: 4rem;
      //    // margin-right: 5vw;
      //    position: absolute;
      //    top: -8rem;
      // }
   }

   .bloc-title {
      @extend %flex-center;
         flex-direction: column;
         background-color: $bg-clair;
         width: 100%;
         height: 25rem;
         text-align: center;
         justify-content: space-evenly;
         border-radius: 100px;

      h2 {
         // position: absolute;
         color: $text-sombre;
         padding-top: 1rem;
         // left: 0;
         // top: 5.6rem;
         font-size: 1.9rem;
         max-width: 40rem;
         
      }

      button {
         // position: absolute;
         bottom: 5rem;
         @extend %largebutton;
      }
   }
}

// Section 5 - etape 3

#step-3 {
   position: relative;
   height: 42vw;

   .bg-step-3 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         filter: brightness(0.6);
      }
   }

   .step-3 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;

      p {
         color: $text-clair;
         font-size: 4vw;
      }

      .bloc-title {
         @extend %flex-center;
         flex-direction: column;
         background-color: $bg-clair;
         width: 64vw;
         height: 23vw;
         @extend %boxshadow;

         h2 {
            color: $text-sombre;
            font-size: 2vw;
         }

         button {
            @extend %largebutton;
         }
      }
   }
}

/* Footer styles */
.footer {
   background-color: $bg-sombre;
   color: $text-clair;
   padding: 2rem 0 1rem 0;
   position: relative;
   bottom: 0;
   width: 100%;
}

.footer-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 1rem;
}

.footer h2 {
   margin-bottom: 1rem;
   font-size: 1.5rem;
}

.footer p {
   margin-bottom: 0.5rem;
   line-height: 1.6;
}

.footer ul {
   list-style: none;
   padding: 0;
}

.footer ul li {
   margin-bottom: 0.5rem;
}

.footer ul li a {
   color: $text-clair;
   text-decoration: none;
   transition: color 0.3s;
}

.footer ul li a:hover {
   color: $btn;
   /* Couleur de survol */
}

.footer-bottom {
   text-align: center;
   margin-top: 1rem;
   border-top: 1px solid $bg-clair;
   padding-top: 2rem;
}

// Media queries 992px-1200px
@media (min-width: 992px) and (max-width: 1200px) {

#section-1 {

      .bloc-section-1 {
         width: 82%;
      }
   }

   #step-1 #bloc-step-1 {
         align-items: center;
         justify-content: space-evenly;
         .img-deco {
            position: relative;
            margin-right: 5px;

         }
      }
      #step-2 #bloc-step-2 {
         align-items: center;
         justify-content: space-evenly;
         flex-direction: row-reverse;
         .img-deco {
            position: relative;
            margin-left: 5px;
         }
      }
   }

// Media queries 768px-992px
@media  (max-width: 991.98px) {

   #section-1 {
   
         .bloc-section-1 {
            width: 82%;
            max-width: 25rem;
         }
      }

   #step-1 #bloc-step-1 {
      width: 100vw;
      align-items: center;
      justify-content: center;
      
      .img-deco {
         display: none;
      }
      .step-1 {
         width: 100%;
      }
   }

   #step-2 #bloc-step-2 {
      align-items: center;
      justify-content: center;
      
      .img-deco {
         display: none;
      }
      .step-2 {
         width: 100%;
      }
   }
}

// Media queries 576px-768px
@media (max-width: 767.98px) {


   .footer-container {
      flex-direction: column;
      align-items: center;
   }

   .footer-about,
   .footer-links,
   .footer-contact {
      margin-bottom: 2rem;
      text-align: center;
   }
}

// Media queries 375px-576px
@media (max-width: 375px) {

}

