#add-recipe-main {
  
      .bloc-1 {
         width: 40vw;
         max-width: 640px;
         height: auto;
      }

        background-color: $bg-neutre;
        height: 100vh;
        @extend %flex-center;
        flex-direction: column;
        justify-content: center;
   
        h2 {
           margin-top: -6.9vw;
           padding-bottom: 5vw;
           color: $text-clair;
           font-size: 2vw;
        }

        h3 {
         font-size: 1.2vw;
         color: $text-sombre;
         padding-bottom: 1.5vw;
        }
        section {
         width: 90%;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 2vw;
         text-align: center;
        }
}

#bloc-title {
   // background-color: red;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   #recipe-name {
      margin-bottom: 1.5vw;
      border: none;
         border-radius: 5px;
         height: 2vw;
         width: 100%;
         font-size: 1vw;
         text-align: start;
         padding-left: 2%;
      
         &:focus {
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
            outline: none;
         }
   }
}

#type {
   // text-align: center;
   font-size: calc(5px + 0.6vw);
}

#bloc-type {
   width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bloc-radio {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
         margin-bottom: 1.5vw;
}

label {
   display: flex;
}

.radio-custom {
   width: calc(5px + 0.8vw);
   height: calc(5px + 0.8vw);
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 50%;
   display: inline-block;
   margin-right: 8px;
   transition: border-color 0.3s, background-color 0.3s;
}

input[type="radio"]:hover+.radio-custom {
   border-color: #BC4749;
   /* Couleur de la bordure au survol */
}

input[type="radio"] {
   display: none;
}

input[type="radio"]:checked+.radio-custom {
   background-color: $text-rouge;
   /* Couleur de fond lorsque le bouton radio est sélectionné */
}


// Ingrédients



#bloc-ingredients {
   width: 100%;
}

.bloc-selected-ingredients1 {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 0.4vw 1vw;

}


.img-ingredient {
   width: 2vw;
   height: 2vw;
   object-fit: cover;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
   // border: 1px solid rgba(0, 0, 0, 0.2);
   img {
      width: 100%;
      height: 100%;
   }
}

.ingredient-detail {
   margin-left: 0.6vw;
      font-size: calc(5px + 0.4vw);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 2vw;
      max-width: 50%;

      .ingredient-name {
         font-weight: bold;
      }
}

.delete-ingredient {
   width: 1vw;
   height: 1.2vw;
   margin-left: auto;
   &:hover {
      .delete-icon path {
         fill: $text-rouge;
      }
   }
   }
   .delete-icon {
      path {
         fill: $text-sombre;
         transition: fill 0.2s;
      }
   }

   .border-bottom-ingredient {
         background-color:  rgba(0, 0, 0, 0.2);
      width: 40%;
      height: 1px;
      margin-left: 2vw;
      margin-right: auto;

   }