#header-recipe {
   position: relative;
   height: 300px;
   display: flex;

   .title {
      width: 100%;
      display: flex;
      align-items: flex-end;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;

      .title-recipe {
         font-size: 2.5rem;
      }
   }
}

#recipe-main #section-1 {
   height: auto;
   margin: 80px 0;

   .bloc-1 {
      background-color: $bg-clair;
      padding-bottom: 3vw;
      width: 75%;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 12px;
      @extend %boxshadow;
      margin: 0;
      padding: 0 50px 50px 50px;
   }

   .search {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 30px 0;
      margin-bottom: 50px;

      .add button {
         height: 3rem;
         font-size: 1.1rem;
         margin-right: 15px;
         @extend %largebutton;
      }

      .search-bar {
         justify-self: end;
         display: flex;
         align-items: center;
         width: 300px;
         max-width: 100%;
         height: 3rem;
         background: #fff;
         border-radius: 25px;
         padding-left: 5px;
         overflow: hidden;

         .img {
            padding: 12px;
            width: 3rem;
            min-width: 3rem;
            height: 100%;
            display: flex;
            color: $text-sombre;
         }

         .fa-magnifying-glass {
            width: 100%;
            height: 100%;
         }

         #search-item {
            border: none;
            max-width: 100%;
            height: 100%;
            font-size: 1.1rem;
            text-align: start;

            &:focus {
               outline: none;
            }
         }
      }
   }
}




#card-recipe-bloc {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   justify-items: center;
   row-gap: 1.4rem;
   
   .card-recipe {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      width: 280px;
      height: 300px;
      overflow: hidden;

      .card-recipe-img {
         width: 100%;
         height: 100%;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      .card-recipe-body {
         position: absolute;
         bottom: 0;
         width: 100%;
         background: #fff;
         display: flex;
         align-items: center;
         justify-content: start;
         text-align: left;
         color: $text-sombre;
         padding: 0.8rem;
         font-size: 1.3rem;
      }
   }
}

@media (max-width: 768px) {
   #recipe-main #section-1 {
      .search {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
      }
      
      .add {
         order: 2;
         align-items: center;

         button {
            width: 100%;
         }
      }

      .search-bar {
         order: 1;
         margin-top: 20px;
      }
   }
}

@media (max-width: 576px) {
   #recipe-main #section-1 {
      .bloc-1 {
         padding: 0 0 50px 0;
         max-width: 100%;
         width: 100%;
      }
   }
}
