@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F2E8CF;
}

header #menu, #modal-page .modal-bloc .form .signupBtn,
#modal-page .modal-bloc .form .loginBtn,
#modal-page .modal-bloc .form .addIngredientBtn, #modal-page .modal-bloc, #add-recipe-main, #step-3 .step-3 .bloc-title, #step-2 .bloc-title, #step-1 .bloc-title, #section-2 .bloc-stats .bg-qty, #section-2, #section-1 .bloc-section-1 .bloc-card .bloc-recipe .card, #section-1 .bloc-section-1 .bloc-card, #section-1, .search .filter button, .search .add button, .search .search-bar button, #step-3 .step-3 .bloc-title button, #step-2 .bloc-title button, #step-1 .bloc-title button, #section-1 .bloc-section-1 .bloc-card button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-1, #step-3 .step-3 .bloc-title, #step-2 .img-deco, #step-1 .img-deco, #section-2 .bloc-stats .bg-qty, #section-1 .bloc-section-1 .bloc-card .bloc-recipe .card, #section-1 .bloc-section-1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

#section-1 .bloc-section-1 .bloc-card button {
  margin-top: 2vw;
  border: none;
  background-color: #BC4749;
  font-size: calc(5px + 0.8vw);
  color: #F2E8CF;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5vw 3vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.search .filter button, .search .add button, .search .search-bar button, #step-3 .step-3 .bloc-title button, #step-2 .bloc-title button, #step-1 .bloc-title button {
  margin-top: 2vw;
  border: none;
  background-color: #BC4749;
  font-size: 1.2vw;
  color: #F2E8CF;
  cursor: pointer;
  border-radius: 5px;
  padding: 1vw 1.5vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

header {
  overflow: hidden;
  position: relative;
  color: #F2E8CF;
  max-height: -moz-max-content;
  max-height: max-content;
  height: 57vw;
  max-height: 100vh;
}

header .image-header {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
}
header .image-header img {
  width: 100%;
  height: 57vw;
  max-height: 100vh;
}

header #menu {
  padding: 1% 0;
}
header #menu ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
header #menu ul li {
  font-size: 1.2vw;
}

header .title {
  margin-top: 8%;
  font-size: 2.5vw;
  text-align: center;
}

@keyframes slide-down {
  0% {
    top: -10%;
  }
  30% {
    top: 5%;
  }
  60% {
    top: 5%;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0;
    display: none;
  }
}
#section-1 {
  background-color: #324B30;
  height: 57vw;
  flex-direction: column;
  justify-content: center;
}
#section-1 h2 {
  margin-top: -6.9vw;
  padding-bottom: 5vw;
  color: #F2E8CF;
  font-size: 2vw;
}
#section-1 .bloc-section-1 {
  background-color: #F2E8CF;
  padding: 3.8vw 0;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
}
#section-1 .bloc-section-1 .bloc-card {
  flex-direction: column;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card {
  position: relative;
  border-radius: 12px;
  flex-direction: column;
  height: 22vw;
  width: 17vw;
  overflow: hidden;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-img {
  width: 100%;
  height: 100%;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5vw;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  line-height: 1;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-body p {
  color: white;
  font-weight: 700;
  font-size: calc(5px + 0.8vw);
}
#section-2 {
  position: relative;
  overflow: hidden;
  height: 22vw;
  width: 100%;
}
#section-2 #bg-section-2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
#section-2 #bg-section-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  z-index: -5;
  filter: brightness(0.3);
}
#section-2 .bloc-stats {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  color: #F2E8CF;
  height: 50%;
}
#section-2 .bloc-stats .bloc-qty {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 17vw;
}
#section-2 .bloc-stats .bg-qty {
  background-color: rgba(0, 0, 0, 0.6);
  width: 6.5vw;
  height: 6.5vw;
}
#section-2 .bloc-stats .bg-qty p {
  font-size: calc(5px + 1.2vw);
  font-weight: bold;
}
#section-2 .bloc-stats p {
  font-size: calc(5px + 0.8vw);
}

#step-1 {
  background-color: #0F0F0F;
  height: 42vw;
  position: relative;
}
#step-1 .img-deco {
  position: absolute;
  overflow: hidden;
  top: 5vw;
  left: 5vw;
  z-index: 2;
  width: 34vw;
  height: 22vw;
  border-radius: 10vw 0 10vw 0;
}
#step-1 .img-deco img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#step-1 .step-1 {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 5vw 5vw 5vw 0;
}
#step-1 .step-1 p {
  color: #F2E8CF;
  font-size: 4vw;
  margin-right: 5vw;
  position: absolute;
  top: 8vw;
}
#step-1 .bloc-title {
  position: absolute;
  bottom: 5vw;
  margin-right: 5vw;
  flex-direction: column;
  background-color: #F2E8CF;
  width: 100%;
  height: 18vw;
  width: 100%;
  text-align: center;
  border-radius: 8vw 8vw 0 0;
}
#step-1 .bloc-title h2 {
  color: #0F0F0F;
  font-size: 2vw;
}
#step-2 {
  position: relative;
  height: 42vw;
  background-color: #324B30;
}
#step-2 .img-deco {
  position: absolute;
  overflow: hidden;
  top: 5vw;
  right: 5vw;
  z-index: 2;
  width: 34vw;
  height: 22vw;
  border-radius: 0 10vw 0 10vw;
}
#step-2 .img-deco img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#step-2 .step-2 {
  display: flex;
  position: absolute;
  left: 5vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 5vw 5vw 5vw 0;
}
#step-2 .step-2 p {
  color: #F2E8CF;
  font-size: 4vw;
  margin-left: 5vw;
  position: absolute;
  top: 8vw;
}
#step-2 .bloc-title {
  position: absolute;
  bottom: 5vw;
  margin-left: 5vw;
  flex-direction: column;
  background-color: #F2E8CF;
  width: 100%;
  height: 18vw;
  width: 100%;
  text-align: center;
  border-radius: 8vw 0 0 0;
}
#step-2 .bloc-title h2 {
  color: #0F0F0F;
  font-size: 2vw;
}
#step-3 {
  position: relative;
  height: 42vw;
}
#step-3 .bg-step-3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#step-3 .bg-step-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
#step-3 .step-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
#step-3 .step-3 p {
  color: #F2E8CF;
  font-size: 4vw;
}
#step-3 .step-3 .bloc-title {
  flex-direction: column;
  background-color: #F2E8CF;
  width: 64vw;
  height: 23vw;
}
#step-3 .step-3 .bloc-title h2 {
  color: #0F0F0F;
  font-size: 2vw;
}
#ingredient-main #section-1 {
  height: auto;
  padding-top: 2.4vw;
}
#ingredient-main h2 {
  margin-top: 2vw;
}

.bloc-1 {
  background-color: #F2E8CF;
  padding-bottom: 3vw;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  margin: 0;
}

.search {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  height: auto;
  justify-content: space-between;
  padding: 1vw 0;
  align-items: center;
}
.search .filter, .search .add, .search .search-bar {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  justify-content: space-between;
}
.search .filter .img, .search .add .img, .search .search-bar .img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
  display: flex;
}
.search .filter .fa-sliders, .search .filter .fa-magnifying-glass, .search .add .fa-sliders, .search .add .fa-magnifying-glass, .search .search-bar .fa-sliders, .search .search-bar .fa-magnifying-glass {
  width: 100%;
  height: 100%;
}
.search .filter #search-item, .search .add #search-item, .search .search-bar #search-item {
  border: none;
  border-radius: 5px;
  height: 2vw;
  width: 15vw;
  font-size: 1vw;
  text-align: start;
  padding-left: 2%;
}
.search .filter #search-item:focus, .search .add #search-item:focus, .search .search-bar #search-item:focus {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
.search .filter button, .search .add button, .search .search-bar button {
  margin: 0 1vw 0 0;
  height: 2.5vw;
}

.bloc-filters-active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 1.5vw 0;
}
.bloc-filters-active .filter-active {
  display: flex;
  background: white;
  padding: 0.6vw 1vw 0.6vw 0.6vw;
  margin-right: 1vw;
  border-radius: 5px;
  font-size: 0.9vw;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.bloc-filters-active .filter-active .delete-filter {
  position: absolute;
  top: -25%;
  right: -0.6vw;
  cursor: pointer;
  width: 1.2vw;
}
.bloc-filters-active .filter-active .delete-filter .fa-circle-xmark {
  width: 100%;
  height: 100%;
  color: #BC4749;
}

#card-ingredient-bloc {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 3vw;
}
#card-ingredient-bloc .card-ingredient {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 12vw;
  height: 14vw;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
#card-ingredient-bloc .card-ingredient .card-ingredient-img {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#card-ingredient-bloc .card-ingredient .card-ingredient-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#card-ingredient-bloc .card-ingredient .card-ingredient-body {
  width: 100%;
  height: 30%;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  font-size: calc(5px + 1vw);
}

#card-recipe-bloc {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3vw;
}
#card-recipe-bloc .card-recipe {
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 14vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
#card-recipe-bloc .card-recipe .card-recipe-img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#card-recipe-bloc .card-recipe .card-recipe-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#card-recipe-bloc .card-recipe .card-recipe-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  color: #F2E8CF;
  padding: 1vw;
  font-size: calc(5px + 1.2vw);
}

#add-recipe-main {
  background-color: #324B30;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#add-recipe-main .bloc-1 {
  width: 40vw;
  max-width: 640px;
  height: auto;
}
#add-recipe-main h1 {
  padding-bottom: 5vw;
  color: #F2E8CF;
  font-size: calc(5px + 1vw);
}
#add-recipe-main h2 {
  font-size: calc(5px + 1vw);
}
#add-recipe-main p {
  font-size: calc(5px + 0.6vw);
  color: #0F0F0F;
  padding-bottom: 1.5vw;
  font-weight: bold;
}
#add-recipe-main section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  text-align: center;
}

#bloc-add-ingredient-page {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.5s;
}

#add-ingredient-page {
  display: none;
  position: fixed;
  background-color: white;
  width: 40%;
  max-width: 900px;
  height: 100%;
  left: -40%;
  padding: 28px 30px;
  transition: left 0.5s ease-in-out;
}
#add-ingredient-page #add-ingredient-header {
  height: 2vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#add-ingredient-page #add-ingredient-header #quit-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#add-ingredient-page #add-ingredient-header #quit-icon .quit-icon {
  width: 100%;
  height: 100%;
}
#add-ingredient-page .bloc-new-ingredient-added, #add-ingredient-page .bloc-new-ingredient {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1vw 0;
  justify-content: space-around;
  align-items: center;
}
#add-ingredient-page .bloc-new-ingredient-added label, #add-ingredient-page .bloc-new-ingredient label {
  font-weight: bold;
  margin-bottom: 0.3vw;
}
#add-ingredient-page .bloc-new-ingredient-added #ingredient, #add-ingredient-page .bloc-new-ingredient-added #qty, #add-ingredient-page .bloc-new-ingredient-added #unity, #add-ingredient-page .bloc-new-ingredient-added #ingredient-added, #add-ingredient-page .bloc-new-ingredient-added #qty-added, #add-ingredient-page .bloc-new-ingredient-added #unity-added, #add-ingredient-page .bloc-new-ingredient #ingredient, #add-ingredient-page .bloc-new-ingredient #qty, #add-ingredient-page .bloc-new-ingredient #unity, #add-ingredient-page .bloc-new-ingredient #ingredient-added, #add-ingredient-page .bloc-new-ingredient #qty-added, #add-ingredient-page .bloc-new-ingredient #unity-added {
  border: none;
  background-color: #F2E8CF;
  border-radius: 12px;
  width: 100%;
  font-weight: bold;
  height: 1.7vw;
  text-align: center;
  font-size: calc(5px + 0.4vw);
  text-align: start;
  padding: 0.5vw 1vw 0.5vw 0.5vw;
}
#add-ingredient-page .bloc-new-ingredient-added #ingredient:focus, #add-ingredient-page .bloc-new-ingredient-added #qty:focus, #add-ingredient-page .bloc-new-ingredient-added #unity:focus, #add-ingredient-page .bloc-new-ingredient-added #ingredient-added:focus, #add-ingredient-page .bloc-new-ingredient-added #qty-added:focus, #add-ingredient-page .bloc-new-ingredient-added #unity-added:focus, #add-ingredient-page .bloc-new-ingredient #ingredient:focus, #add-ingredient-page .bloc-new-ingredient #qty:focus, #add-ingredient-page .bloc-new-ingredient #unity:focus, #add-ingredient-page .bloc-new-ingredient #ingredient-added:focus, #add-ingredient-page .bloc-new-ingredient #qty-added:focus, #add-ingredient-page .bloc-new-ingredient #unity-added:focus {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
#add-ingredient-page .bloc-new-ingredient-added #ingredient, #add-ingredient-page .bloc-new-ingredient-added #ingredient-added, #add-ingredient-page .bloc-new-ingredient #ingredient, #add-ingredient-page .bloc-new-ingredient #ingredient-added {
  width: 12vw;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions, #add-ingredient-page .bloc-new-ingredient #suggestions {
  display: none;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 0.3vw;
  width: 100%;
  height: auto;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0.6vw;
  padding: 0.5vw 0;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover {
  cursor: pointer;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion {
  color: #BC4749;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion {
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion img, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .name-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .name-ingredient-suggestion {
  margin-left: 0.4vw;
  font-size: calc(5px + 0.5vw);
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient {
  display: flex;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1.4vw;
  align-items: center;
  border-radius: 30px;
  font-size: calc(5px + 0.4vw);
  margin-top: 1.2vw;
  padding: 1%;
  transition: 0.2s;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient:hover {
  background-color: #BC4749;
  color: #F2E8CF;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient:hover path {
  fill: #F2E8CF;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .add-new-ingredient-icon {
  width: 1vw;
  height: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .add-icon {
  width: 75%;
  height: 75%;
}
#add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient {
  margin-right: 0.7vw;
}
#add-ingredient-page .bloc-new-ingredient {
  border-bottom: none;
  align-items: flex-start;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}
.submit-btn button {
  background-color: #BC4749;
  color: #F2E8CF;
  border: none;
  width: 5vw;
  height: 2.2vw;
  border-radius: 50px;
  font-size: calc(5px + 0.6vw);
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn button:hover {
  background-color: rgba(188, 71, 73, 0.9);
}

#bloc-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#bloc-title #recipe-name {
  margin-bottom: 1.5vw;
  border: none;
  border-radius: 12px;
  height: 2vw;
  width: 100%;
  font-size: 1vw;
  text-align: start;
  padding-left: 2%;
}
#bloc-title #recipe-name:focus {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}

#type {
  font-size: calc(5px + 0.6vw);
}

#bloc-type {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bloc-radio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5vw;
}

label {
  display: flex;
}

.radio-custom {
  width: calc(5px + 0.8vw);
  height: calc(5px + 0.8vw);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  transition: border-color 0.3s, background-color 0.3s;
}

input[type=radio]:hover + .radio-custom {
  border-color: #BC4749;
  /* Couleur de la bordure au survol */
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .radio-custom {
  background-color: #BC4749;
  /* Couleur de fond lorsque le bouton radio est sélectionné */
}

#bloc-ingredients {
  width: 100%;
}

.bloc-selected-ingredients, .bloc-add-ingredients {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4vw 1vw;
}

.img-ingredient {
  width: 2vw;
  height: 2vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-color: #F2E8CF;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.img-ingredient img {
  width: 100%;
  height: 100%;
}

.ingredient-detail, .add-ingredient {
  margin-left: 0.6vw;
  font-size: calc(5px + 0.4vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 2vw;
  max-width: 50%;
}
.ingredient-detail .ingredient-name, .add-ingredient .ingredient-name {
  font-weight: bold;
}

.delete-ingredient, .add-ingredient-btn {
  width: 1vw;
  height: 1.2vw;
  margin-left: auto;
}
.delete-ingredient:hover .delete-icon path, .add-ingredient-btn:hover .delete-icon path {
  fill: #BC4749;
}

.delete-icon path {
  fill: #0F0F0F;
  transition: fill 0.2s;
}

.border-bottom-ingredient {
  background-color: rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 1px;
  margin-left: 2vw;
  margin-right: auto;
}

.bloc-add-ingredients {
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
}
.bloc-add-ingredients .img-ingredient {
  box-shadow: none;
}

.add-ingredient {
  font-size: calc(5px + 0.6vw);
}

.add-ingredient-btn path {
  fill: #BC4749;
}

#modal-page {
  width: 100vw;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}
#modal-page .modal-bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F2E8CF;
  width: 27vw;
  height: auto;
  padding: 1vw 0;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.2);
}
#modal-page .modal-bloc .title {
  font-size: 1.6vw;
  color: #0F0F0F;
  font-weight: bold;
  padding-bottom: 1.2vw;
  text-decoration: underline;
}
#modal-page .modal-bloc .form {
  display: flex;
  width: 90%;
  height: 90%;
}
#modal-page .modal-bloc .form form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modal-page .modal-bloc .form form .input-div {
  width: 80%;
  height: 100%;
  text-align: start;
  margin: 0.5vw 0;
}
#modal-page .modal-bloc .form form .input-div label {
  width: 100%;
  height: 100%;
  font-size: 0.9vw;
  font-weight: bold;
  text-align: start;
  color: #0F0F0F;
}
#modal-page .modal-bloc .form form .input-div input {
  width: 100%;
  height: 2.5vw;
  padding: 1vw;
  text-align: start;
  font-size: 1vw;
  font-weight: bold;
  border: none;
  margin: 0.3vw 0;
  border-radius: 20px;
}
#modal-page .modal-bloc .form form .input-div input:focus {
  box-shadow: 0 0 4px 0 #324B30;
  outline: none;
}
#modal-page .modal-bloc .form form .input-div #pseudo-errorMsg,
#modal-page .modal-bloc .form form .input-div #email-errorMsg,
#modal-page .modal-bloc .form form .input-div #password-errorMsg {
  text-align: center;
  color: #BC4749;
  font-size: 0.9vw;
}
#modal-page .modal-bloc .form .signupBtn,
#modal-page .modal-bloc .form .loginBtn,
#modal-page .modal-bloc .form .addIngredientBtn {
  margin-top: 1vw;
  border: none;
  background-color: #BC4749;
  width: 30%;
  height: 2vw;
  font-size: 0.8vw;
  color: #F2E8CF;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
#modal-page .modal-bloc #exit-signup,
#modal-page .modal-bloc #exit-login,
#modal-page .modal-bloc #exit-addIngredient {
  position: absolute;
  top: 0.8vw;
  left: 1vw;
  height: 2vw;
}
#modal-page .modal-bloc #exit-signup .fa-arrow-left,
#modal-page .modal-bloc #exit-login .fa-arrow-left,
#modal-page .modal-bloc #exit-addIngredient .fa-arrow-left {
  cursor: pointer;
  color: #0F0F0F;
  width: 100%;
  height: 100%;
}
#modal-page .modal-bloc #errorMsg {
  padding-top: 1vw;
  text-align: center;
  font-size: 0.9vw;
  color: #BC4749;
}

.validateItem {
  color: #324B30;
  font-size: 1.2vw;
}

.ingredient-list-bloc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1vw;
  justify-items: center;
  width: 85%;
}
.ingredient-list-bloc .ingredient-list-card {
  width: 7vw;
  margin-bottom: 0.8vw;
}
.ingredient-list-bloc .ingredient-list-card .img-ingredient-list {
  width: 100%;
  height: 5vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 0.5vw;
}
.ingredient-list-bloc .ingredient-list-card .img-ingredient-list img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.ingredient-list-bloc .ingredient-list-card .ing-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredient-list-bloc .ingredient-list-card .ing-body p {
  font-size: 0.8vw;
}