* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Surt", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F2E8CF;
}

#add-recipe-main, #ingredient-main #section-1 .search .add-ingredient-form .addIngredientBtn, #step-3 .step-3 .bloc-title, #step-2 .bloc-title, #step-1 .bloc-title, #section-2 .bloc-stats .bg-qty, #section-2, #section-1 .bloc-section-1 .bloc-card .bloc-recipe .card, #section-1 .bloc-section-1 .bloc-card, #section-1, #recipe-main #section-1 .search .add button, #ingredient-main #section-1 .search .add button, #step-3 .step-3 .bloc-title button, #step-2 .bloc-title button, #step-1 .bloc-title button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-recipe-main .bloc-1, #recipe-main #section-1 .bloc-1, #ingredient-main #section-1 .bloc-1, #step-3 .step-3 .bloc-title, #step-2 .img-deco, #step-1 .img-deco, #section-2 .bloc-stats .bg-qty, #section-1 .bloc-section-1 .bloc-card .bloc-recipe .card {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.25);
}

#recipe-main #section-1 .search .add button, #ingredient-main #section-1 .search .add button, #step-3 .step-3 .bloc-title button, #step-2 .bloc-title button, #step-1 .bloc-title button {
  border: none;
  background-color: #BC3437;
  font-size: 1.3rem;
  color: #F2E8CF;
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

@keyframes slide-down {
  0% {
    top: -10%;
  }
  30% {
    top: 5%;
  }
  60% {
    top: 5%;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0;
    display: none;
  }
}
#header {
  height: 100vh;
  max-height: 100vh;
  min-height: 576px;
}
#header .image-header {
  height: 100vh;
  min-height: 576px;
}
#header .title {
  position: absolute;
  top: 22rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
}

#section-1 {
  background-color: #58703e;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
  min-height: 576px;
  max-width: 100%;
  overflow-x: hidden;
}
#section-1 h2 {
  color: #F2E8CF;
  font-size: 2.5rem;
}
#section-1 #bloc-slider {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-1 .slider-btn {
  margin: 0 2%;
  border: none;
  background: none;
  outline: none;
  color: #F2E8CF;
  font-size: 8rem;
  cursor: pointer;
  z-index: 2;
}
#section-1 .slider-btn:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -1px -1px 2px rgba(0, 0, 0, 0.7), 1px -1px 2px rgba(0, 0, 0, 0.7), -1px 1px 2px rgba(0, 0, 0, 0.7);
}
#section-1 .bloc-section-1 {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-1 .bloc-section-1 .bloc-card {
  flex-direction: column;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card {
  position: relative;
  border-radius: 12px;
  flex-direction: column;
  width: 24rem;
  height: 28rem;
  margin: 1rem;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card:hover {
  box-shadow: 0 0 4px #F2E8CF;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-img {
  width: 100%;
  height: 100%;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  line-height: 1;
}
#section-1 .bloc-section-1 .bloc-card .bloc-recipe .card .card-body p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px #201E1F;
}

#section-2 {
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 100%;
}
#section-2 #bg-section-2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
#section-2 #bg-section-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  z-index: -5;
  filter: brightness(0.3);
}
#section-2 .bloc-stats {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 77rem;
  max-width: 100%;
  color: #F2E8CF;
  height: 30%;
}
#section-2 .bloc-stats #bloc-qty-ingredients, #section-2 .bloc-stats #bloc-qty-recipes, #section-2 .bloc-stats #bloc-qty-users {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#section-2 .bloc-stats .bg-qty {
  background-color: rgba(0, 0, 0, 0.6);
  width: 8rem;
  min-width: 8rem;
  min-height: 8rem;
  height: 8rem;
}
#section-2 .bloc-stats .bg-qty p {
  font-size: 1.5rem;
  font-weight: bold;
}
#section-2 .bloc-stats p {
  font-size: 1.5rem;
}

#step-1 {
  background-color: #201E1F;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#step-1 #bloc-step-1 {
  position: relative;
  width: 77rem;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#step-1 .img-deco {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
  width: 22rem;
  min-width: 22rem;
  min-height: 22rem;
  height: 22rem;
  border-radius: 50%;
}
#step-1 .img-deco img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#step-1 .step-1 {
  width: 65%;
}
#step-1 .bloc-title {
  flex-direction: column;
  background-color: #F2E8CF;
  width: 100%;
  height: 25rem;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 100px;
  padding: 10px;
}
#step-1 .bloc-title h2 {
  color: #201E1F;
  font-size: 1.9rem;
  padding-top: 1rem;
}
#step-1 .bloc-title button {
  margin: 0 10px;
}

#step-2 {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#step-2 #bloc-step-2 {
  position: relative;
  width: 77rem;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#step-2 .img-deco {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 2;
  width: 22rem;
  min-width: 22rem;
  height: 22rem;
  min-height: 22rem;
  border-radius: 50%;
}
#step-2 .img-deco img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#step-2 .step-2 {
  width: 65%;
}
#step-2 .bloc-title {
  flex-direction: column;
  background-color: #F2E8CF;
  width: 100%;
  height: 25rem;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 100px;
  padding: 10px;
}
#step-2 .bloc-title h2 {
  color: #201E1F;
  padding-top: 1rem;
  font-size: 1.9rem;
  max-width: 40rem;
}
#step-2 .bloc-title button {
  bottom: 5rem;
}

#step-3 {
  position: relative;
  height: 42vw;
}
#step-3 .bg-step-3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#step-3 .bg-step-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
#step-3 .step-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
#step-3 .step-3 p {
  color: #F2E8CF;
  font-size: 4vw;
}
#step-3 .step-3 .bloc-title {
  flex-direction: column;
  background-color: #F2E8CF;
  width: 64vw;
  height: 23vw;
}
#step-3 .step-3 .bloc-title h2 {
  color: #201E1F;
  font-size: 2vw;
}
/* Footer styles */
.footer {
  background-color: #201E1F;
  color: #F2E8CF;
  padding: 2rem 0 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer p {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: #F2E8CF;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #BC3437;
  /* Couleur de survol */
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid #F2E8CF;
  padding-top: 2rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  #section-1 .bloc-section-1 {
    width: 82%;
  }
  #step-1 #bloc-step-1 {
    align-items: center;
    justify-content: space-evenly;
  }
  #step-1 #bloc-step-1 .img-deco {
    position: relative;
    margin-right: 5px;
  }
  #step-2 #bloc-step-2 {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
  #step-2 #bloc-step-2 .img-deco {
    position: relative;
    margin-left: 5px;
  }
}
@media (max-width: 991.98px) {
  #step-1 #bloc-step-1 {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  #step-1 #bloc-step-1 .img-deco {
    display: none;
  }
  #step-1 #bloc-step-1 .step-1 {
    width: 100%;
  }
  #step-2 #bloc-step-2 {
    align-items: center;
    justify-content: center;
  }
  #step-2 #bloc-step-2 .img-deco {
    display: none;
  }
  #step-2 #bloc-step-2 .step-2 {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  #section-1 .bloc-section-1 {
    max-width: 55%;
  }
  #section-1 .bloc-section-1 .card {
    max-height: 22rem;
    max-width: 18rem;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-about,
  .footer-links,
  .footer-contact {
    margin-bottom: 2rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  #section-1 #bloc-slider #prev, #section-1 #bloc-slider #next {
    display: none;
  }
  #section-1 #bloc-slider .bloc-section-1 {
    justify-content: flex-start;
    min-width: 100%;
  }
  #section-1 #bloc-slider .bloc-section-1 .card {
    margin: 0 15px;
  }
  #section-2 .bloc-stats #bloc-qty-ingredients .bg-qty,
  #section-2 .bloc-stats #bloc-qty-recipes .bg-qty,
  #section-2 .bloc-stats #bloc-qty-users .bg-qty {
    min-width: 6rem;
    min-height: 6rem;
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width: 400px) {
  #step-1, #step-2 {
    padding: 0;
  }
  #step-1 .bloc-title, #step-2 .bloc-title {
    border-radius: 0;
  }
}
#header-ingredients {
  position: relative;
  height: 300px;
  display: flex;
}
#header-ingredients .title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
#header-ingredients .title .title-ingredients {
  font-size: 2.5rem;
}

#ingredient-main #section-1 {
  height: auto;
  margin: 80px 0;
}
#ingredient-main #section-1 .bloc-1 {
  background-color: #F2E8CF;
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  margin: 0;
  padding: 0 50px 50px 50px;
}
#ingredient-main #section-1 .search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
}
#ingredient-main #section-1 .search .add button {
  height: 3rem;
  font-size: 1.1rem;
  margin-right: 15px;
}
#ingredient-main #section-1 .search .search-bar {
  justify-self: end;
  display: flex;
  align-items: center;
  width: 300px;
  max-width: 100%;
  height: 3rem;
  background: #fff;
  border-radius: 25px;
  padding-left: 5px;
  overflow: hidden;
}
#ingredient-main #section-1 .search .search-bar .img {
  padding: 12px;
  width: 3rem;
  min-width: 3rem;
  height: 100%;
  display: flex;
  color: #201E1F;
}
#ingredient-main #section-1 .search .search-bar .fa-magnifying-glass {
  width: 100%;
  height: 100%;
}
#ingredient-main #section-1 .search .search-bar #search-item {
  border: none;
  max-width: 100%;
  height: 100%;
  font-size: 1.1rem;
  text-align: start;
}
#ingredient-main #section-1 .search .search-bar #search-item:focus {
  outline: none;
}
#ingredient-main #section-1 .search .add-ingredient-form {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
}
#ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(1) {
  grid-column: 1/2;
  justify-self: start;
  margin-top: 20px;
  width: 100%;
  gap: 10px;
}
#ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(1) label {
  align-self: start;
  font-size: 1.1rem;
}
#ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(1) #name {
  border: none;
  outline: none;
  height: 2.5rem;
  width: 100%;
  border-radius: 8px;
  text-align: start;
  padding-left: 10px;
  font-size: 1.1rem;
}
#ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(2) {
  grid-column: 1/2;
  justify-self: center;
  width: 100%;
  gap: 10px;
}
#ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(2) label {
  align-self: start;
  font-size: 1.1rem;
}
#ingredient-main #section-1 .search .add-ingredient-form .addIngredientBtn {
  grid-column: 1/2;
  justify-self: center;
  border: none;
  background-color: #BC3437;
  width: 50%;
  height: 3rem;
  font-size: 1rem;
  color: #F2E8CF;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
#ingredient-main #section-1 #card-ingredient-bloc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  row-gap: 1.5rem;
}
#ingredient-main #section-1 #card-ingredient-bloc .card-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
#ingredient-main #section-1 #card-ingredient-bloc .card-ingredient .card-ingredient-img {
  width: 100px;
  height: 100px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#ingredient-main #section-1 #card-ingredient-bloc .card-ingredient .card-ingredient-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ingredient-main #section-1 #card-ingredient-bloc .card-ingredient .card-ingredient-body {
  width: 100%;
  color: #201E1F;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#add-photo-input {
  display: none;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredient-img {
  border: 1px solid white;
  background-color: white;
  border-radius: 12px;
  margin-top: 8px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
}
#ingredient-img #photo-ingredient {
  position: absolute;
  width: 100%;
  height: 100%;
}
#ingredient-img #photo-ingredient img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ingredient-img input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#ingredient-img #submit-photo-btn {
  background-color: #BC3437;
  color: #F2E8CF;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
  margin: 0;
  padding: 0.8rem 2rem;
}

@media (max-width: 768px) {
  #ingredient-main #section-1 .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #ingredient-main #section-1 .add {
    order: 2;
    align-items: center;
  }
  #ingredient-main #section-1 .add button {
    width: 100%;
  }
  #ingredient-main #section-1 .search-bar {
    order: 1;
    margin-top: 20px;
  }
  #ingredient-main #section-1 .search .add-ingredient-form {
    order: 3;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  #ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(1) {
    display: grid;
    width: 100%;
  }
  #ingredient-main #section-1 .search .add-ingredient-form .input-div:nth-child(2) {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  #ingredient-main #section-1 .bloc-1 {
    padding: 0 0 50px 0;
    max-width: 100%;
    width: 100%;
  }
  #ingredient-main #section-1 .bloc-1 .search .add-ingredient-form .input-div:nth-child(1) #name {
    width: 50%;
    min-width: 300px;
    justify-self: center;
  }
}
#header-recipe {
  position: relative;
  height: 300px;
  display: flex;
}
#header-recipe .title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
#header-recipe .title .title-recipe {
  font-size: 2.5rem;
}

#recipe-main #section-1 {
  height: auto;
  margin: 80px 0;
}
#recipe-main #section-1 .bloc-1 {
  background-color: #F2E8CF;
  padding-bottom: 3vw;
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  margin: 0;
  padding: 0 50px 50px 50px;
}
#recipe-main #section-1 .search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
}
#recipe-main #section-1 .search .add button {
  height: 3rem;
  font-size: 1.1rem;
  margin-right: 15px;
}
#recipe-main #section-1 .search .search-bar {
  justify-self: end;
  display: flex;
  align-items: center;
  width: 300px;
  max-width: 100%;
  height: 3rem;
  background: #fff;
  border-radius: 25px;
  padding-left: 5px;
  overflow: hidden;
}
#recipe-main #section-1 .search .search-bar .img {
  padding: 12px;
  width: 3rem;
  min-width: 3rem;
  height: 100%;
  display: flex;
  color: #201E1F;
}
#recipe-main #section-1 .search .search-bar .fa-magnifying-glass {
  width: 100%;
  height: 100%;
}
#recipe-main #section-1 .search .search-bar #search-item {
  border: none;
  max-width: 100%;
  height: 100%;
  font-size: 1.1rem;
  text-align: start;
}
#recipe-main #section-1 .search .search-bar #search-item:focus {
  outline: none;
}

#card-recipe-bloc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  row-gap: 1.4rem;
}
#card-recipe-bloc .card-recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 280px;
  height: 300px;
  overflow: hidden;
}
#card-recipe-bloc .card-recipe .card-recipe-img {
  width: 100%;
  height: 100%;
}
#card-recipe-bloc .card-recipe .card-recipe-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#card-recipe-bloc .card-recipe .card-recipe-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  color: #201E1F;
  padding: 0.8rem;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  #recipe-main #section-1 .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #recipe-main #section-1 .add {
    order: 2;
    align-items: center;
  }
  #recipe-main #section-1 .add button {
    width: 100%;
  }
  #recipe-main #section-1 .search-bar {
    order: 1;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  #recipe-main #section-1 .bloc-1 {
    padding: 0 0 50px 0;
    max-width: 100%;
    width: 100%;
  }
}
#add-recipe-main {
  height: auto;
  margin: 80px 0;
}
#add-recipe-main .bloc-1 {
  background-color: #F2E8CF;
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  margin: 0;
  padding: 0 0 50px 0;
}
#add-recipe-main p {
  font-size: 1.3rem;
  color: #201E1F;
  padding-bottom: 2.4rem;
}
#add-recipe-main #title, #add-recipe-main #type, #add-recipe-main #ingredients {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  text-align: center;
}
#add-recipe-main #steps, #add-recipe-main #picture {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#bloc-add-ingredient-page, #bloc-add-step-page {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.5s;
  z-index: 1000;
}

#add-ingredient-page, #add-step-page {
  display: none;
  position: fixed;
  background-color: white;
  width: 900px;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  left: -40%;
  padding: 28px 30px;
  transition: left 0.5s ease-in-out;
}
#add-ingredient-page #add-ingredient-header, #add-ingredient-page #add-step-header, #add-step-page #add-ingredient-header, #add-step-page #add-step-header {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#add-ingredient-page #add-ingredient-header .quit-icon, #add-ingredient-page #add-step-header .quit-icon, #add-step-page #add-ingredient-header .quit-icon, #add-step-page #add-step-header .quit-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#add-ingredient-page #add-ingredient-header .quit-icon .quit-icon-img, #add-ingredient-page #add-step-header .quit-icon .quit-icon-img, #add-step-page #add-ingredient-header .quit-icon .quit-icon-img, #add-step-page #add-step-header .quit-icon .quit-icon-img {
  width: 100%;
  height: 100%;
}
#add-ingredient-page #ingredients-list, #add-ingredient-page #steps-list, #add-step-page #ingredients-list, #add-step-page #steps-list {
  max-height: 85%;
  overflow-y: auto;
  width: 100%;
}
#add-ingredient-page .bloc-new-ingredient-added, #add-ingredient-page .bloc-new-ingredient, #add-step-page .bloc-new-ingredient-added, #add-step-page .bloc-new-ingredient {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.6rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#add-ingredient-page .bloc-new-ingredient-added .add-name-ingredient, #add-ingredient-page .bloc-new-ingredient .add-name-ingredient, #add-step-page .bloc-new-ingredient-added .add-name-ingredient, #add-step-page .bloc-new-ingredient .add-name-ingredient {
  width: 40%;
}
#add-ingredient-page .bloc-new-ingredient-added .add-qty-ingredient, #add-ingredient-page .bloc-new-ingredient-added .add-unity-ingredient, #add-ingredient-page .bloc-new-ingredient .add-qty-ingredient, #add-ingredient-page .bloc-new-ingredient .add-unity-ingredient, #add-step-page .bloc-new-ingredient-added .add-qty-ingredient, #add-step-page .bloc-new-ingredient-added .add-unity-ingredient, #add-step-page .bloc-new-ingredient .add-qty-ingredient, #add-step-page .bloc-new-ingredient .add-unity-ingredient {
  width: 15%;
}
#add-ingredient-page .bloc-new-ingredient-added .error-message, #add-ingredient-page .bloc-new-ingredient .error-message, #add-step-page .bloc-new-ingredient-added .error-message, #add-step-page .bloc-new-ingredient .error-message {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin-top: 5px;
  bottom: 0;
}
#add-ingredient-page .bloc-new-ingredient-added label, #add-ingredient-page .bloc-new-ingredient label, #add-step-page .bloc-new-ingredient-added label, #add-step-page .bloc-new-ingredient label {
  font-weight: bold;
}
#add-ingredient-page .bloc-new-ingredient-added #ingredient, #add-ingredient-page .bloc-new-ingredient-added #qty, #add-ingredient-page .bloc-new-ingredient-added #unity, #add-ingredient-page .bloc-new-ingredient-added .ingredient-added, #add-ingredient-page .bloc-new-ingredient-added .qty-added, #add-ingredient-page .bloc-new-ingredient-added .unity-added, #add-ingredient-page .bloc-new-ingredient #ingredient, #add-ingredient-page .bloc-new-ingredient #qty, #add-ingredient-page .bloc-new-ingredient #unity, #add-ingredient-page .bloc-new-ingredient .ingredient-added, #add-ingredient-page .bloc-new-ingredient .qty-added, #add-ingredient-page .bloc-new-ingredient .unity-added, #add-step-page .bloc-new-ingredient-added #ingredient, #add-step-page .bloc-new-ingredient-added #qty, #add-step-page .bloc-new-ingredient-added #unity, #add-step-page .bloc-new-ingredient-added .ingredient-added, #add-step-page .bloc-new-ingredient-added .qty-added, #add-step-page .bloc-new-ingredient-added .unity-added, #add-step-page .bloc-new-ingredient #ingredient, #add-step-page .bloc-new-ingredient #qty, #add-step-page .bloc-new-ingredient #unity, #add-step-page .bloc-new-ingredient .ingredient-added, #add-step-page .bloc-new-ingredient .qty-added, #add-step-page .bloc-new-ingredient .unity-added {
  border: none;
  background-color: #F2E8CF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  height: 3rem;
  font-size: 1rem;
  padding: 0 0.8rem;
  margin-top: 5px;
}
#add-ingredient-page .bloc-new-ingredient-added #ingredient:focus, #add-ingredient-page .bloc-new-ingredient-added #qty:focus, #add-ingredient-page .bloc-new-ingredient-added #unity:focus, #add-ingredient-page .bloc-new-ingredient-added .ingredient-added:focus, #add-ingredient-page .bloc-new-ingredient-added .qty-added:focus, #add-ingredient-page .bloc-new-ingredient-added .unity-added:focus, #add-ingredient-page .bloc-new-ingredient #ingredient:focus, #add-ingredient-page .bloc-new-ingredient #qty:focus, #add-ingredient-page .bloc-new-ingredient #unity:focus, #add-ingredient-page .bloc-new-ingredient .ingredient-added:focus, #add-ingredient-page .bloc-new-ingredient .qty-added:focus, #add-ingredient-page .bloc-new-ingredient .unity-added:focus, #add-step-page .bloc-new-ingredient-added #ingredient:focus, #add-step-page .bloc-new-ingredient-added #qty:focus, #add-step-page .bloc-new-ingredient-added #unity:focus, #add-step-page .bloc-new-ingredient-added .ingredient-added:focus, #add-step-page .bloc-new-ingredient-added .qty-added:focus, #add-step-page .bloc-new-ingredient-added .unity-added:focus, #add-step-page .bloc-new-ingredient #ingredient:focus, #add-step-page .bloc-new-ingredient #qty:focus, #add-step-page .bloc-new-ingredient #unity:focus, #add-step-page .bloc-new-ingredient .ingredient-added:focus, #add-step-page .bloc-new-ingredient .qty-added:focus, #add-step-page .bloc-new-ingredient .unity-added:focus {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions, #add-ingredient-page .bloc-new-ingredient #suggestions, #add-step-page .bloc-new-ingredient-added #suggestions, #add-step-page .bloc-new-ingredient #suggestions {
  display: none;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
  padding: 0.8rem 0;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover {
  cursor: pointer;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion:hover .name-ingredient-suggestion {
  color: #BC4749;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion img, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion img, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .img-ingredient-suggestion img, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion .img-ingredient-suggestion img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#add-ingredient-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .name-ingredient-suggestion, #add-ingredient-page .bloc-new-ingredient #suggestions .ingredient-suggestion .name-ingredient-suggestion, #add-step-page .bloc-new-ingredient-added #suggestions .ingredient-suggestion .name-ingredient-suggestion, #add-step-page .bloc-new-ingredient #suggestions .ingredient-suggestion .name-ingredient-suggestion {
  margin-left: 0.6rem;
  font-size: 1.1rem;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient, #add-step-page .bloc-new-ingredient-added .add-new-ingredient, #add-step-page .bloc-new-ingredient .delete-new-ingredient, #add-step-page .bloc-new-ingredient .add-new-ingredient {
  display: flex;
  width: 130px;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2.3rem;
  align-items: center;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 2%;
  transition: 0.2s;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient:hover, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient:hover, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient:hover, #add-step-page .bloc-new-ingredient-added .add-new-ingredient:hover, #add-step-page .bloc-new-ingredient .delete-new-ingredient:hover, #add-step-page .bloc-new-ingredient .add-new-ingredient:hover {
  background-color: #BC3437;
  color: #F2E8CF;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient:hover path, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient:hover path, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient:hover path, #add-step-page .bloc-new-ingredient-added .add-new-ingredient:hover path, #add-step-page .bloc-new-ingredient .delete-new-ingredient:hover path, #add-step-page .bloc-new-ingredient .add-new-ingredient:hover path {
  fill: #F2E8CF;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .add-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .delete-new-ingredient-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .add-new-ingredient-icon, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient .delete-new-ingredient-icon, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient .add-new-ingredient-icon, #add-step-page .bloc-new-ingredient-added .add-new-ingredient .delete-new-ingredient-icon, #add-step-page .bloc-new-ingredient-added .add-new-ingredient .add-new-ingredient-icon, #add-step-page .bloc-new-ingredient .delete-new-ingredient .delete-new-ingredient-icon, #add-step-page .bloc-new-ingredient .delete-new-ingredient .add-new-ingredient-icon, #add-step-page .bloc-new-ingredient .add-new-ingredient .delete-new-ingredient-icon, #add-step-page .bloc-new-ingredient .add-new-ingredient .add-new-ingredient-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient-added .delete-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient-added .add-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient .add-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .delete-icon, #add-ingredient-page .bloc-new-ingredient .add-new-ingredient .add-icon, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient .delete-icon, #add-step-page .bloc-new-ingredient-added .delete-new-ingredient .add-icon, #add-step-page .bloc-new-ingredient-added .add-new-ingredient .delete-icon, #add-step-page .bloc-new-ingredient-added .add-new-ingredient .add-icon, #add-step-page .bloc-new-ingredient .delete-new-ingredient .delete-icon, #add-step-page .bloc-new-ingredient .delete-new-ingredient .add-icon, #add-step-page .bloc-new-ingredient .add-new-ingredient .delete-icon, #add-step-page .bloc-new-ingredient .add-new-ingredient .add-icon {
  width: 75%;
  height: 75%;
}
#add-ingredient-page .bloc-new-ingredient, #add-step-page .bloc-new-ingredient {
  border-bottom: none;
  align-items: flex-start;
}

.submit-btn {
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  margin: 0;
  bottom: 0;
  height: 165px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.submit-btn button {
  background-color: #BC3437;
  color: #F2E8CF;
  border: none;
  width: 8rem;
  height: 3.5rem;
  border-radius: 50px;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn button:hover {
  background-color: rgba(188, 71, 73, 0.9);
}

#bloc-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#bloc-title #recipe-name {
  border: none;
  border-radius: 12px;
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: start;
  padding-left: 10px;
}
#bloc-title #recipe-name:focus {
  outline: none;
}

#type {
  font-size: 1.1rem;
}

#bloc-type {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bloc-radio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}
.bloc-radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-custom {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  transition: border-color 0.3s, background-color 0.3s;
}

input[type=radio]:hover + .radio-custom {
  border-color: #BC4749;
  /* Couleur de la bordure au survol */
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .radio-custom {
  background-color: #BC4749;
}

#bloc-ingredients, #bloc-steps {
  width: 100%;
}

.bloc-selected-ingredients, .bloc-add-ingredients, .bloc-selected-steps, .bloc-add-steps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 1.6rem;
}

.img-ingredient {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #F2E8CF;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.img-ingredient img {
  width: 3.2rem;
  height: 3.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.ingredient-detail, .add-ingredient, .add-step {
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 3rem;
}
.ingredient-detail .ingredient-name, .add-ingredient .ingredient-name, .add-step .ingredient-name {
  font-weight: bold;
}

.delete-ingredient, .add-ingredient-btn, .add-step-btn {
  width: 1.6rem;
  height: 1.9rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: auto;
}
.delete-ingredient:hover .delete-icon path, .add-ingredient-btn:hover .delete-icon path, .add-step-btn:hover .delete-icon path {
  fill: #BC4749;
}

.delete-icon path {
  fill: #201E1F;
  transition: fill 0.2s;
}

.border-bottom-ingredient {
  background-color: rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 1px;
  margin-left: 3.2rem;
  margin-right: auto;
}

.bloc-add-ingredients, .bloc-add-steps {
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
}
.bloc-add-ingredients .img-ingredient, .bloc-add-steps .img-ingredient {
  box-shadow: none;
}

.add-ingredient, .add-step {
  font-size: 1.2rem;
}

.add-ingredient-btn path, .add-step-btn path {
  fill: #BC4749;
}

.bloc-new-step {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.6rem 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.bloc-new-step .title-step {
  margin-bottom: 15px;
  font-size: 1rem;
  width: -moz-max-content;
  width: max-content;
}
.bloc-new-step .delete-new-step, .bloc-new-step .add-new-step {
  display: flex;
  width: 130px;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2.3rem;
  align-items: center;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 2%;
  transition: 0.2s;
}
.bloc-new-step .delete-new-step:hover, .bloc-new-step .add-new-step:hover {
  background-color: #BC3437;
  color: #F2E8CF;
}
.bloc-new-step .delete-new-step:hover path, .bloc-new-step .add-new-step:hover path {
  fill: #F2E8CF;
}
.bloc-new-step .delete-new-step .delete-new-step-icon, .bloc-new-step .delete-new-step .add-new-step-icon, .bloc-new-step .add-new-step .delete-new-step-icon, .bloc-new-step .add-new-step .add-new-step-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bloc-new-step .delete-new-step .delete-icon, .bloc-new-step .delete-new-step .add-icon, .bloc-new-step .add-new-step .delete-icon, .bloc-new-step .add-new-step .add-icon {
  width: 75%;
  height: 75%;
}

.add-description {
  width: 50%;
  display: grid;
  padding-right: 0.8rem;
  grid-template-columns: 1fr 1fr;
}

.characters-count {
  text-align: end;
  color: rgba(0, 0, 0, 0.4);
  width: -moz-max-content;
  width: max-content;
  justify-self: flex-end;
}

#description, .description {
  grid-column: 1/span 2;
  background-color: #F2E8CF;
  border-radius: 12px;
  border: none;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  font-size: 1rem;
  resize: vertical;
  min-width: 100%;
  max-width: 100%;
}
#description:focus, .description:focus {
  outline: none;
}

.select-ingredients {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 0.6rem;
}
.select-ingredients .ingredients-step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}
.select-ingredients .ingredients-step .select-ingredient-step {
  display: flex;
  width: 100%;
  position: relative;
}
.select-ingredients .ingredients-step .select-ingredient-step label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  transition: 0.3s;
}
.select-ingredients .ingredients-step .select-ingredient-step .custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  border-radius: 4px;
  margin-right: 10px;
  transition: 0.3s;
}
.select-ingredients .ingredients-step .select-ingredient-step input[type=checkbox]:hover + .custom-checkbox {
  border-color: rgba(188, 71, 73, 0.9);
}
.select-ingredients .ingredients-step .select-ingredient-step input[type=checkbox] {
  display: none;
}
.select-ingredients .ingredients-step .select-ingredient-step .custom-checkbox-checked {
  position: absolute;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.select-ingredients .ingredients-step .select-ingredient-step input[type=checkbox]:checked ~ .custom-checkbox-checked {
  visibility: visible;
  opacity: 1;
}
.select-ingredients .ingredients-step .select-ingredient-step .custom-checkbox-checked svg {
  width: 100%;
  height: 100%;
}
.select-ingredients .ingredients-step .select-ingredient-step .custom-checkbox-checked svg path {
  fill: rgba(188, 71, 73, 0.9);
}
.select-ingredients .ingredients-step .select-ingredient-step input[type=checkbox]:checked ~ .custom-checkbox {
  border: 1px solid rgba(188, 71, 73, 0.9);
}
.select-ingredients .ingredients-step .select-ingredient-step .img-ingredient-step {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 0.3vw;
}
.select-ingredients .ingredients-step .select-ingredient-step .img-ingredient-step img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#bloc-added-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bloc-selected-steps {
  padding-left: 5.6rem;
  margin-bottom: 0.8rem;
}

.step-detail {
  max-width: 100%;
  overflow-wrap: break-word;
}

.step-index {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.3rem;
  text-align: start;
}

.step-description {
  font-size: 1.2rem;
  text-align: start;
}

#recipe-img {
  border: 1px solid white;
  background-color: white;
  border-radius: 12px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recipe-img #photo-recipe {
  position: absolute;
  width: 100%;
  height: 100%;
}
#recipe-img #photo-recipe img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recipe-img input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#recipe-img #submit-photo-btn {
  background-color: #BC3437;
  color: #F2E8CF;
  border: none;
  width: 6.4rem;
  height: 2.4rem;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.err-message {
  box-sizing: border-box;
  color: red;
  width: 100%;
  text-align: left;
  padding: 0.3rem;
  margin-top: 3px;
  font-size: 1.1rem;
  height: 2.4rem;
}

#submit-recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  text-align: center;
}
#submit-recipe button {
  background-color: #BC3437;
  color: #F2E8CF;
  border: none;
  width: 8rem;
  height: 3.5rem;
  border-radius: 50px;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
#submit-recipe button:hover {
  background-color: rgba(188, 71, 73, 0.9);
}

@media (max-width: 768px) {
  #add-ingredient-page, #add-step-page {
    padding: 28px 15px;
  }
  #add-ingredient-page .bloc-new-ingredient, .bloc-new-ingredient-added {
    justify-content: center;
  }
  #add-ingredient-page .bloc-new-ingredient .add-name-ingredient, #add-ingredient-page .bloc-new-ingredient .add-qty-ingredient, #add-ingredient-page .bloc-new-ingredient .add-unity-ingredient, .bloc-new-ingredient-added .add-name-ingredient, .bloc-new-ingredient-added .add-qty-ingredient, .bloc-new-ingredient-added .add-unity-ingredient {
    min-width: 100%;
    margin-bottom: 20px;
  }
  #add-ingredient-page .bloc-new-ingredient .delete-new-ingredient, .bloc-new-ingredient-added .delete-new-ingredient {
    margin: auto;
  }
  #add-ingredient-page .bloc-new-ingredient .add-new-ingredient, .bloc-new-ingredient-added .add-new-ingredient {
    justify-content: center;
    margin-right: 0;
  }
  .bloc-new-step {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .add-description {
    width: 100%;
    padding: 0;
  }
  .select-ingredients {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .bloc-radio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
  }
  .bloc-radio label {
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
body {
  font-family: "Arial", sans-serif;
  background-color: #58703e;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto 80px auto;
  background-color: #F2E8CF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-self: center;
  align-items: center;
  height: 60px;
}
.header h1 {
  height: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  color: #333;
  margin: 0;
}
.header .type {
  color: #fff;
  background-color: #58703e;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 15px;
  text-align: center;
}

#container-1 {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

#section-img {
  position: relative;
  min-width: 320px;
  min-height: 320px;
  width: 320px;
  height: 320px;
  display: block;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 50%;
}
#section-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  margin-bottom: 30px;
}

#ingredients-section {
  flex-grow: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bar {
  background-color: #333;
  width: 100%;
  height: 1px;
  margin-left: 10px;
}

.section h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.ingredients,
.steps {
  list-style-type: none;
  padding-left: 0;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ingredient-item,
.step-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ingredient-item img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.step-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-color: #58703e;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  text-align: center;
  height: 30px;
}

.steps li {
  background-color: #fff;
  overflow-wrap: break-word;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-ingredients {
  display: flex;
  gap: 5px;
  height: 100%;
  max-width: 120px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.step-ingredients img {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #container-1 {
    flex-direction: column;
    align-items: center;
  }
  #container-1 #section-img {
    margin-bottom: 30px;
  }
  #container-1 #ingredients-section {
    width: 100%;
    margin-left: 0;
  }
}
header {
  top: 0;
  width: 100%;
  color: #F2E8CF;
}
header .image-header {
  z-index: -1;
  position: relative;
  width: 100%;
}
header .image-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header #menu {
  position: fixed;
  background: #201E1F;
  top: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #F2E8CF;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  height: 4rem;
  transition: 0.4s ease-in-out;
}
header #menu #logo {
  position: absolute;
  top: 1.9rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 3rem;
  transition: 0.4s ease-in-out;
}
header #menu .nav-links {
  position: absolute;
  width: 400px;
  top: 5.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s ease-in-out;
}
header #menu .nav-links li {
  margin: 0.7rem;
  text-shadow: 1px 1px 4px #201E1F;
  transition: 0.1s ease-in-out;
}
header #menu .nav-links li:hover {
  transform: scale(1.1);
}
header #menu .header-burger {
  display: none;
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: #F2E8CF;
}
header #menu .header-burger.show {
  display: block !important;
}
header #menu .mobile-menu {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  width: 180px;
  position: absolute;
  right: -180px;
  height: 100vh;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
}
header #menu .mobile-menu .quit-icon {
  width: 3rem;
  stroke: #F2E8CF;
  height: 3rem;
  position: absolute;
  right: 12px;
  top: 8px;
}
header #menu .mobile-menu .nav-links-mobile {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header #menu .mobile-menu.open {
  right: 0;
}

#menu.scrolled {
  background-color: #201E1F;
}
#menu.scrolled #logo {
  left: 1rem;
  transform: translateY(-50%);
}
#menu.scrolled .nav-links {
  top: 2rem;
}

@media (max-width: 767.98px) {
  header #menu .nav-links {
    display: none;
  }
  header #menu .header-burger {
    display: block;
  }
}